$font-stack: Roboto, sans-serif;
$primary-color: #222;
$button-color: #333333;
$font-header: Papyrus, serif;
$form-background: #EBA21E;
$comment-background: rgba(179, 179, 179, 0.9);

@mixin breakpoint($point) {
  @if $point == mobile_540w{
    @media (min-width: 540px){
      @content;
    }
  } @else if $point == tablet_768w{
    @media (min-width: 768px){
      @content;
    }
  } @else if $point == ipadpro_1024w{
    @media (min-width: 1024px) and (min-height: 1366px){
      @content;
    }
  } @else if $point == desktop_1200w{
    @media (min-width: 1200px) {
      @content;
    }
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font: 100% $font-stack;
  color: $primary-color;
  background-image: url('../img/a-book.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:  center;
}

button {
  border: none;
  background-color: $button-color;
  color: white;
  width: 30px;  
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;  
  margin: 5px;
  cursor: pointer;  
  
  i{
    font-size: 23px;    
  }
  
}

header{  
  position: relative;
  z-index: 1;
  background-color: $form-background; 
  text-align: center;  
  height: 10vh;
 
  h1{  
    color: #fff;
    font: 150% $font-header;
    text-transform: uppercase;
    line-height: 10vh;  
    @include breakpoint(mobile_540w){
      font-size: 200%;
    }
    @include breakpoint(tablet_768w){
      font-size: 250%;
    }
    @include breakpoint(ipadpro_1024w){
      font-size: 450%;
    }    
  }
}

#focus:focus{
  outline: none;  
  border: 2px solid rgb(123, 186, 202);
  border-radius: 5px;
  transition: 0.2s;
}

footer{  
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 5vh;
  
  p{
    background-color: $primary-color;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;  
    text-align: center;
    position: fixed;  
    font-size: 120%;
    line-height: 5vh;
  }
}


