@import './App.scss';

.comment{  
  position: relative;
  background-color: $comment-background; 
  padding: 15px 5vw;
  border-bottom: 2px solid #fff;

  &:nth-last-child(1){
    border-bottom: none;
  }

  @include breakpoint (mobile_540w){
    margin: 0 5vh;
  }

  @include breakpoint (tablet_768w){
    font-size: 130%;
  }

  @include breakpoint (desktop_1200w){
    width: 60%;
    margin: 0 auto;
    padding: 15px 2vw;
  }

  .wrap{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 20px;    
    
    @include breakpoint (tablet_768w){
      width: 50%;
    }
  }

  .textarea{  
    font-family: $font-stack;
    width: 100%;
    min-height: 100px;   
    padding: 10px 0 0 20px;
    font-size: 100%;
    background-color: rgba(255,255,255, 0.5); 
  }   

  .right-corner{
    position: absolute;
    top: 0;
    right: 0;
  }
}
