@import './App.scss';

.form{
  background-color: $form-background;
  position: fixed;
  z-index: 1;
  padding: 20px;
  width: calc(100% - 30px);
  left: 0;
  top: 50%;
  transition: 0.3s;
  transform: translate(0, -50%);

  @include breakpoint (tablet_768w){
    width: 600px;
  }

  .wrapp-form{
    display: flex;
    flex-direction: column;  

    #title{
      font-weight: bold;
      font-size: 25px;
    }

    #author{
      font-size: 25px;
    }

    input{
      text-align: center;
      background-color: rgba(255, 255, 255, 0.3);
      border: transparent;
      font-size: 20px;
      margin: 5px 10px;
      height: 35px;
      color: #fff;
      
      &::placeholder{
        color: #fff;
      }
      &.red::placeholder{
        color: red;
      }

      &:focus{
        border:transparent;
        outline: white solid 2px;        
      }
    }

    .wrapp-pack{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input{
        width: 100%;

        @include breakpoint (tablet_768w){
          width: 46%;
        }

        &:first-of-type{
          padding-right: 10px;        
        }
      }
    }

    textarea{
      background-color: rgba(255, 255, 255, 0.3);
      margin: 5px 10px;
      border: transparent;
      font-family: $font-stack;
      font-size: 20px;
      padding: 5px;
      min-height: 100px;
      resize: vertical;
      color: #fff;

      @include breakpoint (tablet_768w){
        min-height: 150px;
      }

      &::placeholder{
        color: #fff;        
      }      

      &.red::placeholder{
        color: red;
      }

      &:focus{
        border: transparent;
        outline: white solid 2px;        
      }
    }
  }

  .btnAddForm{
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: auto;
    background-color: #999999;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    padding: 5px 10px;
    transform: rotate(-90deg) translate(-43px, 72px);
  }

  .submit{
    position: absolute;
    width: auto;
    margin: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    padding: 5px 15px;
    transform: translateY(30px);

    &.cancel{
      transform: translate(-100px, 30px);
      background-color: #999;
    }
  }  
}

.active{
  transform: translate(-100%, -50%);
}

/* 
Comment 
*/

.form.commentRelative{
  transform: translate(0, -40%);  
  width: 100%;

  @include breakpoint (tablet_768w){
    transform: translate(0, 0);  
    width: 600px;
  }

  .wrapp-form.wrapp-form-com{
    font-size: 100%;  

    textarea{
      margin-bottom: 20px;
    }
  }

  .submit.submit-com{
    position: absolute;    

    &.addComment{
      transform: translate(-78px, 30px);
      background-color: #999;
    }
  }
}
